<div class="row">
    <div class="col d-none d-lg-block container-fluid">
        <div class="row">
            <div class="col">
                <h5 class="my-3"> collections </h5>

                <div class="collections-buttons my-3">
                    <button type="button" class="btn btn-light shadow-none"
                        data-bs-toggle="button" autocomplete="off">
                        product design
                    </button>

                    <button type="button" class="btn btn-light shadow-none"
                        data-bs-toggle="button" autocomplete="off">
                        marketing
                    </button>

                    <button type="button" class="btn btn-light shadow-none"
                        data-bs-toggle="button" autocomplete="off">
                        travel
                    </button>

                    <button type="button" class="btn btn-light shadow-none"
                        data-bs-toggle="button" autocomplete="off">
                        computer science
                    </button>
                </div>

                <div class="collections-footer my-3">
                    <button type="button" class="btn btn-primary btn-sm shadow-none my-1"
                        data-bs-toggle="button" autocomplete="off">
                        new collection
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-9 px-3 py-0 container-fluid" id="bookmarks-view">
        {% include 'include/components/bookmarks_view.html' with bookmark_list=bookmark_list %}
    </div>
</div>
