{% load static %}

<div class="col-lg-6 col-3 m-0 p-1">
    <div class="media pl-2 py-2">

        <div class="media-body">
            <h6 class="mt-0 font-weight-bold">
                Writing an Interpreter From Scratch | Toptal
            </h6>

            <p class="media-text m-0">
                {% lorem 15 w %} <br>
                <span class="text-muted">
                    toptal.com ・ {% now "jS F Y" %}
                    ・ <i class="bi bi-star"></i>
                    ・ <i class="bi bi-trash3"></i>
                </span>
            </p>

        </div>
        <img class="align-self-start mr-2" src="https://via.placeholder.com/35"
            alt="Card image"/>

    </div>
</div>
