{% load static %}

<div class="col-md-6 col-12 m-0 p-1">
    <div class="media pl-2 py-2">

        <div class="media-body">
            <h6 class="mt-0 font-weight-bold">
                Writing an Interpreter From Scratch | Toptal
            </h6>

            <p class="media-text m-0">
                {% lorem 15 w %} <br>
                <span class="text-muted">
                    toptal.com ・ {% now "jS F Y" %}
                </span>
            </p>

            <p class="media-footer m-0">
                <span class="text-muted">
                    Add to Favorites ・ Remove
                </span>
            </p>
        </div>
        <img class="align-self-end mr-2" src="https://via.placeholder.com/48"
            alt="Card image"/>

    </div>
</div>
