{% extends 'base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block head %}
<link href="{% static 'view/css/view.css' %}" rel="stylesheet"
    type="text/css" />
{% endblock %}

{% block navigation %}
{% include 'include/content/navigation.html' %}
{% endblock %}

{% block content %}
{% include 'include/content/search_bar.html' %}
{% include 'include/content/tabs_navigation.html' %}

<div class="row" id="nodraft-inject" data-url="{% url 'view:bookmarks' %}">
    <!-- Inject HTML content through AJAX -->
</div>
{% endblock %}

{% block script %}
<script defer src="{% static 'view/js/view.js' %}"></script>
{% endblock%}