{% extends 'base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block head %}
<link href="{% static 'view/css/view.css' %}" rel="stylesheet"
    type="text/css" />

<link href="{% static 'view/css/library.css' %}" rel="stylesheet"
    type="text/css" />
{% endblock %}

{% block navigation %}
{% include 'include/content/navigation.html' %}
{% endblock %}

{% block content %}
{% include 'include/content/search_bar.html' %}
{% include 'include/content/tabs_navigation.html' %}

<div id="nodraft-inject" data-url="{% url 'view:library' %}">
    <!-- Inject HTML content through AJAX -->
</div>


{% endblock %}

{% block script %}
<script defer src="{% static 'view/js/view.js' %}"></script>
<script async src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
    crossorigin="anonymous" async></script>

{% endblock%}