 <!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-2"
    id="mainNav">
    <div class="container px-0">
        <a class="navbar-brand mb-0 h1" href="#page-top">Nodraft</a>
        <button class="navbar-toggler navbar-toggler-right" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://via.placeholder.com/24"
                            alt="Profile image">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                                href="{% url 'core:connect'%}">
                                <i class="bi bi-link-45deg mr-2"></i>
                                Connect
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-gear mr-2"></i>
                                Settings
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                                href="{% url 'core:logout' %}">
                                <i class="bi bi-escape mr-2"></i>
                                Log out
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>