<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs nav-fill my-2">
            <li class="nav-item">
                <a href="{% url 'view:bookmarks' %}" class="nav-link
                    nodraft-dynamic">
                    Bookmarks</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'view:favorites' %}" class="nav-link
                    nodraft-dynamic">
                    Favorites</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'view:archive' %}" class="nav-link
                    nodraft-dynamic">
                    Archive</a>
            </li>
        </ul>
    </div>
</div>