.card-columns {
    column-count: 1;
    column-gap: .5rem;
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

.card:hover {
    box-shadow: 0 0 2px var(--gray);
}

.card-body {
    font-size: 14px;
}

.card-body .text-muted,
.card-body .btn-link {
    font-size: 12px;
}

.card-body .bookmark-img {
    position: absolute;

    bottom: .5rem;
    right: .5rem;

    padding: .15rem;
}

.card-body .bookmark-img img {
    max-height: 48px;
}

.card-body p button:hover,
.card-body p button:focus {
    text-decoration: none;
}

.card-body p button::before {
    content: "・";
}

div.collections-buttons button.btn.btn-light {
    padding: 4px 8px;
    margin: 2px 0px;

    font-size: 13px;
}

div.collections-buttons button.btn.btn-light.active {
    background-color: var(--success);
    color: var(--white);
}