{% extends 'base.html' %}
{% load static %}

{% block title %} Bookmarks {% endblock %}

{% block head %}
<link href="{% static 'renderer/css/renderer.css' %}" rel="stylesheet"
    type="text/css" />
{% endblock %}

{% block navigation %}
{% include 'include/logged_in_navigation.html' %}
{% endblock %}

{% block content %}
{% include 'include/search_bar.html' %}
{% include 'include/tabs_navigation.html' %}

{% for bookmark in bookmarks %}
{% empty %}
{% include 'units/empty_resource.html' with svg=ER_svg message=ER_message %}
{% endfor %}

{% endblock %}

{% block script %}
<script defer src="{% static 'renderer/js/renderer.js' %}"></script>
{% endblock%}